version: "3"
services:
  warp:
    build: ./
    ports:
      - 1080:1080
    restart: always
    dns:
      - 1.1.1.1
      - 223.5.5.5
    environment:
      TZ: Asia/Shanghai
      PROXY_PORT: 1080
      WARP_LICENSE: a69F35Np-B5v9fP31-71P5ej0U
      FAMILIES_MODE: off

      # 关键：为 Linux 宿主机添加 host.docker.internal 解析 (可选，但在 Linux 上可能需要)
      # 如果您使用 Docker Desktop (Mac/Win)，则无需此设置

      # 使用 .env 中定义的宿主机代理地址
      HTTP_PROXY: ${FULL_PROXY_URL}
      HTTPS_PROXY: ${FULL_PROXY_URL}
      
      # 排除 Docker 内部网络和本地回环
      NO_PROXY: "localhost,127.0.0.1,db"

    extra_hosts:
      - "host.docker.internal:host-gateway"
    # volumes:
      # - ./data:/var/lib/cloudflare-warp
