services:
  cloudflare-warp:
    # image: zhengxiongzhao/warp-svc:latest
    container_name: cloudflare-warp
    build:
      context: .
      dockerfile: Dockerfile
    device_cgroup_rules:
      - 'c 10:200 rwm'
    ports:
      - 1080:1080
    restart: always
    # mem_reservation: 256m
    # mem_limit: 512m
    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
      - MKNOD
      - AUDIT_WRITE
    dns:
      - 1.1.1.1
      - 8.8.8.8
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    environment:
      TZ: Asia/Shanghai
      PROXY_PORT: 1080
      FAMILIES_MODE: off
      # WARP_LICENSE: 
      # LOG_LEVEL: error
    # volumes:
      # - ./data:/var/lib/cloudflare-warp

#     networks:
#       - default
# networks:
#   default:
#     name: ht2_default
#     external: true

