services:
  warp:
    build: ./
    ports:
      - 1080:1080
    restart: always
    dns:
      - 1.1.1.1
    environment:
      TZ: Asia/Shanghai
      PROXY_PORT: 1080
      WARP_LICENSE: a69F35Np-B5v9fP31-71P5ej0U
      FAMILIES_MODE: off
    # volumes:
      # - ./data:/var/lib/cloudflare-warp
